img {
    border-radius: 50%;
    width: inherit;
    height: inherit;
    min-width: 40px;
    min-height: 40px;
}
#dark-container {
  background-color: #282c34;
}
.container-fluid {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-fluid > div {
  width: 85%;
  min-width: 300px;
  max-width: 500px;
}
.card {
  width: 100%;
}
.social-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.btn a, .btn a:hover {
  color: white;
  text-decoration: none;
  display: block;
}
#fb_btn {
    background-color: #3b5998;
    border-color: #3b5998;
}
#vk_btn {
    background-color: #4d7198;
    border-color: #4d7198;
}
#header, #places-div {
    padding: 20px;
    border-radius: 5px;
    background-color: white;
}
#places-div {
    min-height: 100%;
    min-height: 60vh;
}
.space-15 {
    margin: 15px;
}
#header {
    display: flex;
}
span.min-logout {
    display: none;
}
@media screen and (min-width: 500px) {
    span.min-logout {
        display: none;
    }
    span.logout {
        display: block;
    }
}
@media screen and (max-width: 500px) {
    span.min-logout {
        display: block;
    }
    span.logout {
        display: none;
    }
}
#div-logout {
    margin: auto;
}