{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
    <title>Places Remember - {% block head_title %}{% endblock %}</title>
    <style>
        span.min-logout {
            background: url({% static 'imgs/logout.svg' %}) no-repeat top left;
            background-size: contain;
            width: 18px;
            height: 18px;
            margin: auto;
        }
    </style>
</head>
<body style="background-color: #282c34">
    <div class="container" id="home-container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>