{% extends 'places_remember/base.html' %}
{% block head_title %}Home{% endblock %}
{% block content %}
<div class="row align-items-start" id="header">
    {% for assoc in backends.associated %}
        {% if assoc.provider == 'facebook' %}
            <div class="col-2 text-center">photo
                <img src="{{ assoc.extra_data.picture.data.url }}" alt="" width="150" height="150" style="border-radius: 50%">
            </div>
            <div class="col-9 social-container">
                <p style="margin-top: auto; margin-block: auto;"> name{{ assoc.extra_data.name }} </p>
            </div>
        {% endif %}

        {% if assoc.provider == 'vk-oauth2' %}
            <div class="col-2 text-center">
                <img src="{{ assoc.extra_data.photo_max }}" alt="" width="150" height="150" style="border-radius: 50%">
            </div>
            <div class="col-8 social-container">
                <p style="margin: auto;"> {{ assoc.extra_data.first_name }} {{ assoc.extra_data.last_name }} </p>
            </div>
        {% endif %}
    {% endfor %}
        <div class="col-2" id="div-logout">
            <button class="btn btn-danger">
                <a href="{% url 'logout' %}"><span class="logout">Выйти</span><span class="min-logout"></span></a>
            </button>
        </div>
</div>
<div class="space-15"></div>
<div class="row align-items-center" id="places-div">
    <div class="col-12 text-center">
        {% for memo in memories %}
            {{ memo.name }}
        {% empty %}
            У вас нет ни одного воспоминания
        {% endfor %}
    </div>
    <div class="col-12 text-center">
        <button class="btn btn-primary">
            <a href="{% url 'add_memo' %}">Добавить воспоминание</a>
        </button>
    </div>
</div>
{% endblock %}}