{% extends 'social_auth/base.html' %}
{% block head_title %}Вход{% endblock %}
{% block title %}Войти{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto social-container my-2 order-md-1">
        <p style="text-align: center">Добро пожаловать в Places Remember. Этот сервис позволяет сохранять впечатления от посещенных вами мест.</p>
        <button id="vk_btn" class="btn btn-primary  mb-2">
            <a href="{% url 'social:begin' 'vk-oauth2' %}">Войти через Вконтакте</a>
        </button>
        <button id="fb_btn" class="btn btn-primary mb-2">
            <a href="{% url 'social:begin' 'facebook' %}">Войти через Facebook</a>
        </button>
    </div>
</div>
</div>
{% endblock %}